fastapi[standard]
uvicorn[standard]
python-dotenv
openai
langchain
langchain-text-splitters
langchain-community
langchain[google-genai]
langchain[openai]
langchain-google-genai
langchain-core
google-cloud-firestore
pytest
pytest-asyncio
pytest-cov
httpx
pinecone
python-pptx
pypdf
